body.theme-synthwave {
  --bg-color: #1a0f2e;
  --panel-bg: #1a0f2e;
  --main-color: #ff2aa3;
  --secondary-color: #ff2aa3;
  --tertiary-color: #e5c890;
  --text-main: #a6d189;
  --text-muted: #7f8c8d;
  --grid-color: rgba(44, 62, 80, 0.05);
  --font-heading: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
  --box-bg: #2e2156;
  --box-border: rgba(44, 62, 80, 0.1);

  --secondary-text-color: #e48f38;
}

body[class="theme-synthwave"] .header-titles h2::after {
  content: "WEEKLY SCHEDULE";
  width: 100%;
  height: 100%;
  position: absolute;
  top: calc(50% - 0px);
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(13px);
  color: transparent;
  background: linear-gradient(
    0deg,
    var(--secondary-text-color) -30%,
    var(--main-color) 120%
  );
  background-clip: text;
  -webkit-background-clip: text;
}
body[class="theme-synthwave"] .header-titles h2 {
  text-shadow: unset !important;
  color: transparent;
  background: linear-gradient(
    0deg,
    var(--secondary-text-color) -30%,
    var(--main-color) 120%
  );
  background-clip: text;
  -webkit-background-clip: text;
  position: relative;
  overflow: visible;
}
/* select the element only in synthwave theme */
body[class="theme-synthwave"] #scheduleList .is-rest .day-info {
  border-color: #ea999c !important;
  background: #ea999c !important;
}
body[class="theme-synthwave"] #scheduleList .is-rest .day-date,
body[class="theme-synthwave"] #scheduleList .is-rest .day-name {
  color: #292c3c !important;
  font-weight: 600 !important;
}

body[class="theme-synthwave"] #scheduleList .is-rest .activity-info {
  border-color: var(--main-color) !important;
  background: var(--main-color) !important;
  color: #232634 !important;
  font-weight: 700 !important;
}
body[class="theme-synthwave"] #scheduleList .day-row {
  border: 2px solid var(--main-color);
}
body[class="theme-synthwave"] .schedule-footer p::after {
  content: "|| Theme By DekReza";
  margin-left: 10px;
}
